<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1"/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
		 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  
		  <style>
		  .ui-autocomplete-loading {
		    background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
		  }
		  </style>
		  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<title>Succeed In Academia</title>
	</head>
	<body>
		Welcome to Succeed In Academia!
		<br>
		
		Classes:
		<ul class="list-group" th:if="${allClasses != null}">
		  <li class="list-group-item" th:each="class : ${allClasses}">
		    <div th:text="${class}"></div>
		  </li>
		</ul>
		
		<br>
		
		Tasks:
		<ul class="list-group" th:if="${allTasks != null}">
		  <li class="list-group-item" th:each="task : ${allTasks}">
		    <div th:text="${task}"></div>
		  </li>
		</ul>
		
		
		<br>
		
		<form action="#" th:action="@{/saveclass}" th:object="${classDTO}" method="POST" enctype="multipart/form-data">
			<div class="mb-3">
			  <label for="className" class="form-label">Class Name</label>
			  <input type="text" class="form-control" id="className" name="className" field="*{className}" required>
			</div>
			<div class="mb-3">
			  <label for="classGrade" class="form-label">Class Grade</label>
			  <input type="text" class="form-control" id="classGrade" name="grade" field="*{grade}">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
		
		<br>
		
		<form action="#" th:action="@{/savetask}" th:object="${taskDTO}" method="POST" enctype="multipart/form-data">
			<div class="mb-3">
			  <label for="item" class="form-label">Item</label>
			  <input type="text" class="form-control" id="item" name="item" field="*{item}" required>
			</div>
			<div class="mb-3">
			  <label for="class" class="form-label">Class</label>
			  <select class="form-select" id="class" name="myClass.guid" field="*{myClass.guid}" required>
			  	<option value="">Select a class</option>
			  	<option th:each="class : ${allClasses}" th:value="${class.guid}" th:text="${class.className}"></option>
			  </select>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>	
		<!--  
		<form action="#" th:action="@{/saveclass}" th:object="${classDTO}" method="POST" enctype="multipart/form-data">
			<div class="input-group mb-3">
			  <span class="input-group-text" id="basic-addon1">Class Name</span>
			  <input type="text" class="form-control" placeholder="Item" aria-label="Name" aria-describedby="basic-addon1" name="className" th:field="*{className}">
			</div>
			<div class="input-group mb-3">
			  <span class="input-group-text" id="basic-addon1">Class Grade</span>
			  <input type="text" class="form-control" placeholder="Class" aria-label="Grade" aria-describedby="basic-addon1" name="grade" th:field="*{grade}">
			</div>
			
			<button name="submit" type="submit" value="0">Submit</button>
		</form>
		
		<br>
		
		<form action="#" th:action="@{/savetask}" th:object="${taskDTO}" method="POST" enctype="multipart/form-data">
			<div class="input-group mb-3">
			  <span class="input-group-text" id="basic-addon1">Item</span>
			  <input type="text" class="form-control" placeholder="Item" aria-label="Item" aria-describedby="basic-addon1" name="item" th:field="*{item}">
			</div>
			<div class="input-group mb-3">
			  <span class="input-group-text" id="basic-addon1">Class</span>
			  <input type="text" class="form-control" placeholder="Class" aria-label="Class" aria-describedby="basic-addon1" name="myClass" th:field="*{myClass}">
			</div>
			
			<button name="submit" type="submit" value="0">Submit</button>
		</form>
		-->
	</body>	
</html>